@import url(http://fonts.googleapis.com/css?family=Roboto:300);
h1, h2, h3, h4, h5 {font-family: 'Roboto', sans-serif;}
/*override*/
.container{width: 940px; margin: 0 auto;}
#dashboard-side {background: #f5f5f5; min-height: 500px;}
#dashboard-main {background: #f5f5f5; min-height: 500px;}
#header{background: #f5f5f5; margin-bottom: 50px;}
#footer{text-align: right; margin-top: 50px;}
#footer .container {border-top: 1px solid #f5f5f5;padding-top: 20px;color: #b3b3b3;}
.navbar .container {width: 940px; margin: 0 auto;}
#error, #success {position: fixed; bottom: 10px; z-index: 999; width: 890px;}
/*notes & todos*/
#list_todo, #list_note {margin: 0 15px;}
#list_todo span.options, #list_note span.options {float: right;}
#list_todo span.options a, #list_note span.options a {padding: 3px;}
#list_todo span.options a:hover, #list_note span.options a:hover {background-color: rgba(0, 0, 0, 0.3); border-radius: 5px; padding: 3px;}
#list_todo div {padding: 3px 0; width: 100%; float: left; display: block; clear: both;}
#list_note div {width: 250px;}
#list_todo div:hover, #list_note div:hover {background-color: rgba(255, 255, 255, 0.2);}
/*geral*/
.hide {display: none;}
.completed_todo {color: #b3b3b3;}
.ajax-loader {background: url(../img/ajax-loader-white.gif); width: 16px; height: 16px; display: inline-block;}
.ajax-loader-gray {background: url(../img/ajax-loader-gray.gif); width: 16px; height: 16px; display: inline-block;}
